@font-face {
  font-family: "PressStart2P";
  src: url("../../assets/font/PressStart2P-Regular.ttf");
}

.guess-page {
  font-family: "PressStart2P", "Bitstream Vera Serif", serif;
}
.line {
  width: 100%;
  position: relative;
  &::before {
    content: "";
    width: 100vw;
    height: 15px;
    position: absolute;
    top: calc(15vmin / 2);
  }
}


